<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
		<title>the burgers!</title>

	</head>
	<div><img id="burger" src="assets/img/Burger.png"></div>
	<body>

		{{{ body }}}
	</body>
</html>


